@media screen and (max-width: 575px){

  .loginContainer {

    height: 100%;
    width: 50%;
  }
  
  .gifContainer {
    
    height: 100%;
    width: 50%;
  
  }

  #login {
  
    height: 15px;
    width: 100px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.600);
    border: 2px solid;
  }

  #gif {
    width: 100px;
    height: 75px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/roulette-card-flip-lower-res.gif');
    mask-image: linear-gradient(180deg, white 60%, transparent);
  }

  .default-button {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 10px;
  }

  #title{
    font-size: 20px;
    font-weight: bold;
    color: rgb(185, 14, 14);
  }

  #subheader{
    font-size: 10px;
  }

  #steps{
    font-size: 10px;
    text-align: center;
  }

  #infoText {
    height: 10px;
    width: 10px;
  }

}

@media (min-width: 576px){
  .loginContainer {

    height: 100%;
    width: 50%;
  
    
  }
  
  .gifContainer {
  
    height: 100%;
    width: 50%;
  
  }
  
  #login {
  
    height: 30px;
    width: 200px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.600);
    border: 2px solid;
  }


  
  #gif {
    width: 300px;
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/roulette-card-flip-lower-res.gif');
    mask-image: linear-gradient(180deg, white 60%, transparent);
  }

  .default-button {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 20px;

  } 

  #infoText {
    height: 17px;
    width: 17px;
  }

  #title{
    font-weight: bold;
    color: rgb(185, 14, 14);
  }

}


.startContainer{
  height: 90%;
  width: 100;
}
