@media screen and (max-width: 575px){

  .pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .userTile{
    height: 75px;
    width: 75px;
    padding: 5px;

    -webkit-mask: linear-gradient(90deg, transparent, white 5%, white 99%, transparent);
    mask: linear-gradient(90deg, transparent, white 5%, white 99%, transparent);
  }

  .userContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #betaWarning {
    font-size: 13px;
  }
  
}

@media screen and (min-width: 576px){

  .pfp {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .userTile{
    height: 125px;
    width: 125px;
    padding: 5px;

    -webkit-mask: linear-gradient(90deg, transparent, white 5%, white 99%, transparent);
    mask: linear-gradient(90deg, transparent, white 5%, white 99%, transparent);
  }

  .userContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #betaWarning {
    font-size: 15px;
  }
  

}



.searchContainer {
  /*
  height: 325px;
  width: 446px;
  */
  height: 90%;
  width: 100%;
  --webkit-scrollbar {
    display: none
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.searchContainerAfter {
  height: 90%;
  width: 100%;

  --webkit-scrollbar {
    display: none
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}




.nameContainer {
  height: 20px;
  width: 100%;
  font-size: 15px;
  color: black;
  white-space: nowrap;
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  text-align: center;
  padding-right: 20px;

  
}

.nameContainerAnimation {
  -moz-animation: userNameAnimation 30s linear infinite;
  -webkit-animation: userNameAnimationn 30s linear infinite;
  animation: userNameAnimation 30s linear infinite;
  animation-delay: 2s;
}

@keyframes userNameAnimation {
  0% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  25% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  50% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  75% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

}


#betaForm {
  margin: 0;
  padding: 5px;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  width: fit-content;
}

#premiumForm {
  margin: 0;
  padding: 5px;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  background-color: #F6F6F7;
  border: 2px solid black;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  width: fit-content;
  
}
